ARCH		= mips32
MODULES		= runtime stream kernel random mem timer uart #regexp buf net crc snmp tcl

# Maximum optimization
#OPTIMIZE	= -O3 -DNDEBUG

# Smallest size
#OPTIMIZE	= -Os -DNDEBUG

# Debug mode, enable asserts
OPTIMIZE	= -O -g

# We use memcpy etc. with slightly different args,
# so we need to use no-builtin option to prevent conflict.
BINDIR		= /usr/local/mipsel432/bin
CC		= $(BINDIR)/mipsel-elf32-gcc -Wall
CFLAGS		= $(OPTIMIZE) -I$(OS)/sources -DMIPS32 -DELVEES_MC24 -Werror \
		  -fno-builtin -fsigned-char -DKHZ=80000
ASFLAGS		= -I$(OS)/sources -DMIPS32 -DELVEES_MC24
DEPFLAGS	= -MT $@ -MD -MP -MF .deps/$*.dep
LDFLAGS		= -nostdlib -T $(TARGET)/ldscript.x startup.o
LIBS		= -L$(TARGET) -luos -lgcc
STARTUP		= startup-mc24.S
AR		= $(BINDIR)/mipsel-elf32-ar
SIZE		= $(BINDIR)/mipsel-elf32-size
OBJDUMP		= $(BINDIR)/mipsel-elf32-objdump -mmips:isa32
OBJCOPY		= $(BINDIR)/mipsel-elf32-objcopy
