ARCH		= mips
MODULES		= runtime stream kernel timer uart random mem gpanel lcd2

# Maximum optimization
#OPTIMIZE	= -O3 -DNDEBUG

# Smallest size
OPTIMIZE	= -Os -DNDEBUG

# Debug mode, enable asserts
#OPTIMIZE	= -O1 -g

# chipKIT PIC32 compiler on Linux
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Download from https://github.com/jasonkajita/chipKIT-cxx/downloads
# and unzip to /usr/local.
# Need to copy pic32-tools/pic32mx/include/stdarg.h
# to pic32-tools/lib/gcc/pic32mx/4.5.1/include.
# MPLABX C32 compiler doesn't support some functionality
# we need, so use chipKIT compiler by default.
ifndef GCCPREFIX
    GCCPREFIX   = /usr/local/pic32-tools/bin/pic32-
    LDFLAGS     = -Wl,--oformat=elf32-tradlittlemips
endif

# Generic MIPS toolchain
# ~~~~~~~~~~~~~~~~~~~~~~
# You can build it from sources, as described on page
# http://retrobsd.org/wiki/doku.php/doc/toolchain-mips
ifndef GCCPREFIX
    GCCPREFIX   = /usr/local/mips-gcc-4.7.2/bin/mips-elf-
    LDFLAGS     =
endif

# We use memcpy etc. with slightly different args,
# so we need to use no-builtin option to prevent conflict.
CC		= $(GCCPREFIX)gcc -EL -mips32r2 -Wall -g
CFLAGS		= $(OPTIMIZE) -I$(OS)/sources -DMIPS32 -DPIC32MX -DPIC32MX1 -DPIC32_28PIN \
		  -fno-builtin -fsigned-char -DRECURSIVE_LOCKS=0 -Werror
ASFLAGS		= -I$(OS)/sources -DMIPS32 -DPIC32MX -DPIC32MX1
DEPFLAGS	= -MT $@ -MD -MP -MF .deps/$*.dep
LDFLAGS		+= -nostdlib startup.o -T bare-metal.ld
#LDFLAGS	+= -T bare-metal.ld
LIBS		= -L$(TARGET) -luos -lgcc
STARTUP		= startup-pic32.S
AR		= $(GCCPREFIX)ar
SIZE		= $(GCCPREFIX)size
OBJDUMP		= $(GCCPREFIX)objdump -mmips:isa32r2 -S
OBJCOPY		= $(GCCPREFIX)objcopy

# CPU frequency
CFLAGS		+= -DKHZ=40000

# Type of graphics panel
GPANEL_TYPE     = PCD_8544
