ARCH		= arm
MODULES		= runtime stream random kernel #timer uart
#mem regexp buf net crc snmp tcl

# Maximum optimization
#OPTIMIZE        = -Os -fomit-frame-pointer -DNDEBUG

# Debug mode, enable asserts
OPTIMIZE       = -O

# We use memcpy etc. with slightly different args,
# so we need to use no-builtin option to prevent conflict.
CC		= /usr/local/arm444/bin/arm-elf-gcc -mcpu=cortex-m3 -mthumb -Wall -g
CFLAGS		= -DARM_1986BE9 -DARM_CORTEX_M3 -fno-builtin -fsigned-char \
		  $(OPTIMIZE) -I$(OS)/sources -DKHZ=80000
ASFLAGS		= -I$(OS)/sources
DEPFLAGS	= -MT $@ -MD -MP -MF .deps/$*.dep
LDFLAGS		= -nostdlib -T $(TARGET)/ldscript.x $(TARGET)/startup.o
LIBS		= -L$(TARGET) -luos -lgcc
STARTUP		= startup-cortex-m3.S
AR		= /usr/local/arm444/bin/arm-elf-ar
SIZE		= /usr/local/arm444/bin/arm-elf-size
OBJDUMP		= /usr/local/arm444/bin/arm-elf-objdump
OBJCOPY		= /usr/local/arm444/bin/arm-elf-objcopy
